.player__row {
    margin: 0.5rem;
    padding: 0.5rem;
    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: 10px;
}

.player__row__balance {
    text-align: right;
}