<app-player [player]="player"></app-player>

<div class="row m-2 p-2">
    <div class="col-md-2 col-6 order-md-0 order-2 ui-fluid">
        <button pButton type="button" label="+" (click)="add(increment)"></button>
    </div>
    <div class="col-md-8 col-12 order-md-1 order-0 ui-fluid">
        <!-- ui-fluid -> result in p-inputNumber width 100% -->
        <p-inputNumber [(ngModel)]="increment" mode="currency" [useGrouping]="false" currency="EUR"></p-inputNumber>
    </div>
    <div class="col-md-2 col-6 order-md-2 order-3 ui-fluid">
        <button pButton type="button" label="-" (click)="add(-increment)"></button>
    </div>
    <div class="col-12 m-1 d-md-none order-1"></div>
</div>

<p-table [value]="transfers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        Transfers
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Timestamp</th>
            <th>Amount</th>
            <th style="width:4em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transfer>
        <tr>
            <td>{{transfer.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{transfer.amount}}</td>
            <td style="text-align:center">
                <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="deleteTransfer(transfer.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>